TELEGRAM_BOT_TOKEN="0123456789:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ADMIN_USER_IDS="0123456789,9876543210"
ALERT_CHAT_ID ="-0000000000"
CLOUDFLARE_API_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CLOUDFLARE_ACCOUNT_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CLOUDFLARE_ZONE_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
